<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home" routerLinkActive="router-link-active">
      <img src="./assets/images/ElevateLogo.jpg" style=" border-radius: 20%;" width="90px">
    </a>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
      
        <li class="nav-item">
          <a class="nav-link"  routerLink="home" routerLinkActive="active-link"  href="#">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link"  routerLink="product" routerLinkActive="active-link"  href="#">product</a>
        </li>

        <li class="nav-item">
          <a class="nav-link"  routerLink="Categories" routerLinkActive="active-link"  href="#">Categories</a>
        </li>

      
      </ul>
    </div>
    </div>
    
  </nav>

  